body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../library/pexels-altamar-20117149.jpg);
  background-position: center;
  background-color: #f6f4f3;
  color: #000;
}

.header-link {
  color: #000;
}

.header-link:hover {
  color: #a4031f;
}

.content {
  background-color: #f6f4f3;
  padding: 30px 40px;
}

.index_title {
  height: 500px;
  color: #fff;
}

.ind_tit-container {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 250px 50px;
}

.tit-content h1 {
  padding: 0 0 5px 0;
  font-size: 34px;
}

.description {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.controls {
  margin: 10px 0;
}

.index-content {
  display: flex;
  gap: 10px;
}

.picture {
  width: 52%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.index-logo {
  width: 250px;
}

.m_v_container {
  padding: 20px 0;
  text-align: center;
}

.mision_vision {
  display: flex;
  gap: 20px;
}

.mision_vision .m_v_content {
  width: 50%;
  padding: 1%;
}

.gios_content label {
  display: block;
}

.gios_content .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f6f4f3;
}

.gios_content h1 {
  text-align: center;
  color: #333;
}

.gios_content form {
  display: flex;
  flex-direction: column;
}

.gios_content label {
  margin-bottom: 10px;
}

.gios_content input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.gios_content button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.gios_content button:hover {
  background-color: #0056b3;
}

footer {
  height: 100px;
  background-color: #f6f4f3;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .ind_tit-container {
    padding: 220px 0 0 0;
    margin: 0 30px;
    text-align: center;
    margin: 0 15px;
  }

  .index-content {
    display: inline;
  }

  .description {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
  
  .picture {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
}
