body {
  background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%),
    url(../library/pexels-altamar-20117149.jpg);
  background-position: center;
  background-color: #f6f4f3;
  color: #000;
}

.header-link {
  color: #000;
}

.header-link:hover {
  color: #a4031f;
}

.content {
  background-color: #f6f4f3;
  padding: 30px 40px;
}

.index_title {
  height: 600px;
  color: #fff;
}

.ind_tit-container {
  width: 50%;
  display: flex;
  justify-content: center;
  padding: 250px 50px;
}

.tit-content h1 {
  padding: 30px 40px;
  font-size: 36px;
}

.description {
  width: 50%;
  padding: 10px;
  text-align: center;
}

.controls {
  margin: 10px 0;
}

.index-content {
  display: flex;
  gap: 10px;
}

.picture {
  width: 52%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.index-logo {
  width: 250px;
}

.m_v_container {
  padding: 50px 0;
  text-align: center;
}

.mision_vision {
  display: flex;
  gap: 20px;
}

.mision_vision .m_v_content {
  width: 50%;
  padding: 1%;
}

.gios_content label {
  display: block;
}

.gios_content .container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 0;
  background-color: #f6f4f3;
}

.gios_content h1 {
  text-align: center;
  color: #333;
}

.gios_content form {
  display: flex;
  flex-direction: column;
}

.gios_content label {
  margin-bottom: 10px;
}

.gios_content input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.exercise {
  text-align: center;
}

.exercise-container {
  margin: 25px 70px;
  padding: 3%;
  text-align: center;
  background-color: #212121;
  color: #fff;
  border-radius: 7px;
}

.exercise-container > h2 {
  padding: 0 0 20px;
}

.other_products {
  padding: 2%;
  background-color: #212121;
  color: #fff;
  border-radius: 10px;
}

.ot_pro_content {
  padding: 2%;
  border-radius: 10px;
}

.ot_pro_description h2 {
  width: 350px;
  display: flex;
  margin: 1% 0;
  padding: 10px;
  background: linear-gradient(120deg, red, blue);
  background-size: 700px 130px;
  background-position: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: default;
}

.ot_pro_description h2:hover {
  background: rgb(1, 1, 66);
  border: 1px solid gray;
  transition: 0.5s;
}

.text_gradient {
  font-weight: bolder;
  background: linear-gradient(120deg, #ff58db, rgb(53, 255, 221));
  background-size: 300px 100px;
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.new_content {
  display: flex;
  gap: 30px;
}

#ca-link-button {
  padding: 10px 15px;
  background-color: transparent;
  border: 1px solid #999999;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
}

#ca-link-button:hover {
  background-color: rgb(1, 1, 66);
  transition: 0.5s ease-in;
}

footer {
  height: 100px;
  background-color: #f6f4f3;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .ind_tit-container {
    width: 100%;
    padding: 220px 0 0 0;
    margin: 0;
    text-align: center;
  }

  .index-content {
    display: inline;
  }

  .description {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .picture {
    width: 100%;
    display: inline;
    text-align: center;
  }

  .new_content {
    display: inline;
  }

  .mision_vision {
    display: inline;
  }

  .mision_vision .m_v_content {
    width: 100%;
  }

  .ot_pro_description h2 {
    width: 330px;
  }
}
